.btn {
 padding: 10px;
 font-size: 1.5rem;
 background-color: #e35259;
 color: white;
 border: 1px solid #e35259;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s;
}


.btn:hover {
 background-color: #dfe9df;
 color: black;
 position: relative;
}
